.idea/
/node_modules
/public/js
/public/css
/public/hot
/public/storage
/public/image/portrait.jpeg
/storage/*.key
/vendor/*
!/vendor/bin/
/vendor/bin/carbon
/vendor/bin/commonmark
/vendor/bin/composer
/vendor/bin/doctrine-dbal
/vendor/bin/jp.php
/vendor/bin/jsonlint
/vendor/bin/php-parse
/vendor/bin/psysh
/vendor/bin/validate-json
/vendor/bin/var-dump-server
/public/image
.env
.env.backup
.env.example
.gitattributes
.phpunit.result.cache
.styleci.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
_ide_helper.php
_ide_helper_models.php
public/*.js
public/js/app.js
public/*.js.gz
public/.gz
