.idea/
/node_modules
/public/js
index.css
/public/hot
/public/storage
/public/image/portrait.jpeg
/storage/*.key
/vendor
/public/image
.env
.env.backup
.env.testing
.gitattributes
.phpunit.result.cache
.styleci.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
_ide_helper.php
_ide_helper_models.php
