.idea/
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.example
.gitattributes
.phpunit.result.cache
.styleci.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
