<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./app</directory>
        </include>
        <exclude>
            <directory suffix=".php">./app/Http/Middleware</directory>
            <directory suffix=".php">./app/Http/Controllers/Auth</directory>
            <file>./app/Console/Commands/CheckDatabase.php</file>
            <file>./app/Console/Kernel.php</file>
            <file>./app/Exceptions/Handler.php</file>
            <file>./app/Http/Controllers/Controller.php</file>
            <file>./app/Http/Controllers/HomeController.php</file>
            <file>./app/Http/Kernel.php</file>
            <file>./app/Providers/AppServiceProvider.php</file>
            <file>./app/Providers/AuthServiceProvider.php</file>
            <file>./app/Providers/BroadcastServiceProvider.php</file>
            <file>./app/Providers/EventServiceProvider.php</file>
            <file>./app/Providers/RouteServiceProvider.php</file>
            <file>./app/User.php</file>
        </exclude>
    </coverage>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="DB_CONNECTION" value="koyolympus_testing"/>
        <env name="MAIL_DRIVER" value="array"/>
        <env name="QUEUE_CONNECTION" value="database"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="APP_CONFIG_CACHE" value="bootstrap/cache/config.phpunit.php"/>
        <env name="APP_SERVICES_CACHE" value="bootstrap/cache/services.phpunit.php"/>
        <env name="APP_PACKAGES_CACHE" value="bootstrap/cache/packages.phpunit.php"/>
        <env name="APP_ROUTES_CACHE" value="bootstrap/cache/routes.phpunit.php"/>
        <env name="APP_EVENTS_CACHE" value="bootstrap/cache/events.phpunit.php"/>
    </php>
</phpunit>
