html {
    font-size: 10px;
}

img {
    display: block;
}

body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}

.logo {
    width: 150px;
    margin: 0 auto;
}

.slide-show {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/cat.jpeg");
}

body h1 {
    font-size: clamp(4rem, 10vw, 15rem);
    margin-top: auto;
    text-align: center;
    color: transparent;
    -webkit-text-stroke: 2px #FFF;
}

body p {
    text-align: center;
    font-size: clamp(0.8rem, 1.5vw, 5rem);
    color: #FFFFFF;
}

.social-container {
    margin-top: auto;
    text-align: center;
}

.social-icons {
    padding: 0;
    list-style: none;
    margin: 1em;
}

.social-icons li {
    display: inline-block;
    margin: 0.15em;
    position: relative;
    font-size: clamp(0.3rem, 5vw, 2rem);
}

.social-icons i {
    color: #fff;
    position: absolute;
    top: 17px;
    left: 17px;
    transition: all 265ms ease-out;
}

.social-icons a {
    display: inline-block;
}

.social-icons a:before {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    content: " ";
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: block;
    background: transparent;
    transition: all 265ms ease-out;
}

.social-icons a:hover:before {
    transform: scale(0);
    transition: all 265ms ease-in;
}

.social-icons a:hover i {
    transform: scale(2.2);
    -ms-transform: scale(2.2);
    -webkit-transform: scale(2.2);
    color: #00b5f5;
    background: -webkit-linear-gradient(45deg, #3ccefc, #002a8f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 265ms ease-in;
}
